<div class="row">

    <!-- TITLE -->
    <div class="col-12 d-flex justify-content-between">
        <h3>Home</h3>
        <div>
            <% if (!user) { %>
            <a href="/auth/google" class="btn btn-primary">Login</a>
            <% } else { %>
            <a href="/auth/google/logout" class="btn btn-danger">Logout</a>
            <% } %>

        </div>
    </div>

    <!-- CONTENT -->
    <div class="col-12 d-flex justify-content-center mt-4">
        <% if (user) { %>
        <div id="user-card" class="card">
            <img class="card-img-top" src="<%= user.picture %> " alt="">
            <div class="card-body">
                <h4 class="card-title"><%= user.displayName %> </h4>
                <div>
                    <textarea class="form-control" name="" id="" rows="3"><%= JSON.stringify(user) %> </textarea>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>