<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/auth/google" id="login-btn" class="btn btn-primary">Login with google</a>
                </li>
                <li class="list-group-item">
                    <a href="/auth/google/success" id="login-btn" class="btn btn-primary">Go to admin page</a>
                </li>
                <% if (user){ %>
                <li class="list-group-item disabled">
                    <a href="/auth/google/logout" id="login-btn" class="btn btn-primary">Logout</a>
                </li>
                <div class="card" style="width: 100px">
                    <img class="card-img-top" src="<%=user.picture%>" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Info</h4>
                        <p class="card-text"></p>
                    </div>
                </div>
                <% } %>
            </ul>
        </div>
    </div>
</div>